/.idea/.idea.Addressable/.idea/.gitignore
/.idea/.idea.Addressable/.idea/encodings.xml
/.idea/.idea.Addressable/.idea/indexLayout.xml
/.idea/.idea.LearnAddressables/.idea/indexLayout.xml
/.idea/.idea.LearnAddressables/.idea/vcs.xml
